<%= error_messages_for :xiji_newe %>
<% form_for :xiji_newe,
  :url => adminpanel_xiji_newe_url(@xiji_newe),
  :html => { :method => :put } do |f| %>
  <p><%= f.label :title,'标题:' %><br/>
    <%= f.text_field :title, :size => 100 %>
    </p>
  <p><%= f.label :body,'内容:' %><br/>
    <%=fckeditor_textarea( "xiji_newe", "body", :toolbarSet => 'Simple', :width => '800px', :height => '500px') %></p>

  <p><%= submit_tag '修改' %></p>
<% end -%>


