<% pagetitle("搜索产品结果") %>


<!--中间内容信息-->
<div class="contenterright">

  <div class="subcontenterright">
    <ul><img src="/images/midtop.gif" width="692" height="8" border="0" /></ul>
    <div class="rightbottommid">
      <div class="productshow">
        <ul class="subnav">产品目录 > 搜索产品结果</ul>
      </div>
      <div class="productmulu">
        <ul>
          <%    @product_details.each do |product_detail|%>
            <li><%=image_tag(product_detail.productimg.url(:thumb), :border=>0)%><br />
              <span><%=link_to product_detail.name,product_detail_path(product_detail)%></span></li>
          <%end%>

        </ul>
        <div class="clear"></div>
      </div>

      <%if @product_details.size==0%>
        <div class="productmulu">
          对不起，未搜索到任何相关产品！
        </div>
      <%else%>
        <div class="page">
          <%= will_paginate  @product_details,:prev_label   => '上一页',
            :next_label   => '下一页'%>
          共有 <%=@product_details.total_entries%> 条产品记录, 分 <%=@product_details.total_pages%> 页显示&nbsp;&nbsp;&nbsp;
        </div>
      <%end%>

    </div>
    <ul><img src="/images/midbottom.gif" width="692" height="8" border="0" /></ul>
  </div>
</div>

<%=render :partial=>"layouts/left_side"%>
